pyrofork
tgcrypto 
requests 
bs4 
shortzy 
datetime 
pytz 
aiohttp
yt-dlp
youtube-dl
requests
ytthumb
jinja2
apscheduler
pyshorteners
colorama
NumPy 
wheel 
ujson 
wget 
pytz
aiofiles
hachoir
python-decouple 
ffmpeg
youtube_search
pymongo[srv]
motor
marshmallow
umongo
PyLeaves
youtube-search-python
opencv-python-headless
googletrans
telegraph
python-dotenv
gTTS
speedtest
humanize
Pillow
psutil
dnspython
ffmpeg-python
openai
git+https://github.com/Joelkb/cinemagoer
